:root {
  --font-family: "Onest", sans-serif;
  --second-family: "Unbounded", sans-serif;
  --third-family: "Inter", sans-serif;
  --content-width: 1160px;
  --content-fluid-width: 1790px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-fluid-width: calc(
    var(--content-fluid-width) + (var(--container-offset) * 2)
  );
  --light-color: #fff;
  --dark-color: #010202;
  --blue-color: #0281be;
  --accent-color: #e34646;
  --block-color: linear-gradient(173deg, #0281be 0%, #013c58 100%);
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Onest";
  src: url("../fonts/../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/../fonts/Onest-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/../fonts/Onest-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Unbounded";
  src: url("../fonts/../fonts/Unbounded-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.container-fluid {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-fluid-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.btn {
  padding: 15px 19px;
  border: solid 1px var(--accent-color);
  border-radius: 16px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}
.btn-red {
  background-color: var(--accent-color);
  color: var(--light-color);
}
.btn-red:hover {
  background-color: var(--light-color);
  color: var(--dark-color);
  border: solid 1px var(--light-color);
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
}
.btn-dark {
  color: var(--accent-color);
}
.btn-dark:hover {
  color: var(--light-color);
  border: solid 1px var(--light-color);
  -webkit-transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}
.btn-blue {
  background-color: var(--blue-color);
  border: var(--blue-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: var(--light-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 344px;
}
.btn-blue--img {
  margin-right: 10px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  margin-bottom: 8px;
  width: 100%;
  margin-bottom: 8px;
}
.form__label:last-child {
  margin-bottom: 21px;
}
.form .just-validate-error-label {
  padding-left: 20px;
}
.form__block {
  margin-bottom: 100px;
}
.form__input {
  padding: 20px 20px;
  border-radius: 22px;
  width: 100%;
  height: 76px;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: var(--dark-color);
}
.form__input::-webkit-input-placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #757575;
}
.form__input::-moz-placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #757575;
}
.form__input:-ms-input-placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #757575;
}
.form__input::-ms-input-placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #757575;
}
.form__input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #757575;
}
.form__telegram-name {
  display: none;
}

.choices {
  padding: 20px 20px;
  border-radius: 22px;
  width: 100%;
  height: 76px;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: var(--dark-color);
}
.choices--focus {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.hero {
  background-color: var(--dark-color);
  padding-top: 70px;
  padding-bottom: 40px;
}
.hero__blocks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}
.hero__block-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-right: 57px;
  padding-left: 57px;
  padding-bottom: 109px;
}
.hero__logo {
  margin-bottom: 32px;
}
.hero__subtitle {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  color: var(--accent-color);
  margin-bottom: 10px;
}
.hero__title {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
  color: var(--light-color);
  margin-bottom: 15px;
}
.hero__title-info {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 32px;
  text-transform: uppercase;
  color: var(--light-color);
  margin-bottom: 35px;
}
.hero__descr {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: var(--light-color);
  margin-bottom: 67px;
}
.hero__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.hero__block-right {
  background-image: url("../img/hero_men.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 109px 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
}

.about {
  background-color: var(--dark-color);
  padding-top: 32px;
  padding-bottom: 61px;
}
.about__container {
  border-radius: 22px;
  padding: 40px 100px;
  background-color: var(--light-color);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}
.about__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 29px;
  text-transform: uppercase;
}
.about__title--dark {
  margin: 0;
  color: var(--dark-color);
}
.about__title--blue {
  margin: 0;
  color: var(--blue-color);
}
.about__text {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  color: var(--dark-color);
}

.partners {
  background-color: #f5f5f5;
  padding-top: 33px;
  padding-bottom: 55px;
}
.partners__container {
  padding: 54px 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  border-radius: 22px;
  background-color: var(--light-color);
}
.partners__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.partners__title {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
  color: var(--dark-color);
  margin-bottom: 8px;
}
.partners__descr {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  color: var(--dark-color);
}
.partners__item {
  width: 320px;
  border-radius: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5f5f5;
  padding: 25px 33px;
}
.partners__item--blue {
  background-color: var(--blue-color);
}
.partners__item--blue .partners__item--img {
  background-color: var(--light-color);
}
.partners__item--blue span {
  color: var(--light-color);
}
.partners__item--img {
  border-radius: 12px;
  padding: 11px;
  background-color: var(--blue-color);
  margin-right: 14px;
}

.swiper {
  width: 100%;
  height: 300px;
}

.advantages {
  background-color: var(--dark-color);
  padding-top: 39px;
  padding-bottom: 120px;
}
.advantages__container {
  border-radius: 22px;
  background-color: #f5f5f5;
  padding: 46px 100px 93px 100px;
  position: relative;
}
.advantages__raketa {
  position: absolute;
  right: 0;
  bottom: 0;
}
.advantages__title {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 32px;
  text-transform: uppercase;
  color: var(--dark-color);
  margin: 0;
  margin-bottom: 35px;
}
.advantages__title span {
  color: var(--accent-color);
}
.advantages__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.advantages__item {
  position: relative;
  border-radius: 22px;
  background-color: var(--light-color);
  padding: 15px 45px;
}
.advantages__item--raketa {
  position: relative;
  background-color: initial;
}
.advantages__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--dark-color);
}
.advantages__icon {
  position: absolute;
  right: 20px;
}

.work {
  background-color: var(--dark-color);
  padding-top: 100px;
  padding-bottom: 80px;
}
.work__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.work__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.work__title {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 48px;
  color: var(--accent-color);
  margin-bottom: 14px;
}
.work__descr {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  text-transform: lowercase;
  color: var(--light-color);
}
.work__swiper {
  width: 100%;
  height: 350px;
  padding-bottom: 35px;
}
.work__item {
  min-height: 160px;
  border-radius: 22px;
  padding: 60px;
  background-color: var(--light-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.work__item--number {
  border-radius: 12px;
  padding: 11px 21px;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 48px;
  background-color: var(--blue-color);
  color: var(--light-color);
  margin-right: 18px;
}
.work__item--text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: var(--dark-color);
}

.step1 {
  background-color: var(--dark-color);
  padding-top: 70px;
  padding-bottom: 184px;
}
.step1__title {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 36px;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 55px;
}
.step1__content {
  border-radius: 22px;
  background-color: var(--blue-color);
  padding: 35px 58px;
}
.step1__btn {
  width: 90%;
}
.step1__order {
  padding: 21px 47px;
  background-color: var(--light-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 16px;
  margin-bottom: 56px;
}
.step1__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 56px;
}
.step1__phone {
  border-radius: 16px;
  background-color: var(--light-color);
  padding: 12px 17px;
}
.step1__phone p {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  text-transform: lowercase;
  color: var(--dark-color);
}
.step1__phone p span {
  color: var(--blue-color);
}
.step1__calc {
  border-radius: 16px;
  background-color: var(--light-color);
  padding: 12px 17px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  text-transform: lowercase;
  color: var(--dark-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.step1__info--price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.step1__info--price span {
  margin-left: auto;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  text-transform: lowercase;
  text-align: right;
  color: var(--light-color);
  margin-right: 24px;
}
.step1__footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 360px;
}
.step1__footer--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.step1__footer--course {
  margin: 0;
  margin-bottom: 18px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: var(--light-color);
}
.step1__footer--course-logo {
  border-radius: 16px;
  background-color: var(--light-color);
  padding: 56px 115px;
}
.step1__footer--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.step1__footer--price {
  margin-top: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
}
.step1__footer--price-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  color: #fff;
}
.step1__footer--price-money {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  color: #fff;
}
.step1__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.step1__btns button {
  width: 90%;
  cursor: pointer;
}

.step2 {
  background-color: var(--dark-color);
  padding-top: 70px;
  padding-bottom: 184px;
  position: relative;
}
.step2__cosmos {
  position: absolute;
  width: 390px;
  height: 350px;
  top: -50px;
  right: 150px;
}
.step2__btn {
  display: inline-block;
  width: 100%;
}
.step2__title {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 36px;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 55px;
}
.step2__content {
  border-radius: 22px;
  background-color: var(--blue-color);
  padding: 35px 58px;
}
.step2__price {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: #757575;
}
.step2__price span {
  font-weight: 500;
  color: #393939;
}
.step2__order {
  padding: 21px 47px;
  background-color: var(--light-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 16px;
  margin-bottom: 56px;
}
.step2__order--num {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: #757575;
}
.step2__order--num span {
  font-weight: 500;
  color: #393939;
}
.step2__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.step2__info-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 150px;
}
.step2__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  color: #fff;
}
.step2__info div {
  margin-bottom: 25px;
}
.step2__payment-block {
  padding-left: 100px;
}
.step2__payment-itog {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  margin-bottom: 15px;
}
.step2__payment-price {
  padding: 5px 40px;
  background-color: var(--light-color);
  text-align: center;
  margin-bottom: 25px;
}
.step2__payment-price span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  color: #e34646;
}
.step2__payment-texts {
  margin-bottom: 38px;
}
.step2__payment-text {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #e3e3e3;
  margin-bottom: 4px;
}
.step2__payment-text span {
  font-weight: 500;
  color: #fff;
}
.step2__politic {
  margin: 0;
  margin-top: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #bababa;
}
.step2__politic span {
  color: var(--light-color);
}

.step3 {
  background-color: var(--dark-color);
  padding-top: 70px;
  padding-bottom: 184px;
  position: relative;
}
.step3__img {
  position: absolute;
  bottom: 115px;
  left: 50px;
}
.step3__title {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 36px;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 55px;
}
.step3__content {
  border-radius: 22px;
  background-color: var(--blue-color);
  padding: 35px 58px;
}
.step3__order {
  padding: 21px 47px;
  background-color: var(--light-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 16px;
  margin-bottom: 56px;
}
.step3__order--num {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: #757575;
}
.step3__order--num span {
  font-weight: 500;
  color: #393939;
}
.step3__price {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: #757575;
}
.step3__price span {
  font-weight: 500;
  color: #393939;
}
.step3__personal-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 300px;
}
.step3__personal--title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  margin-bottom: 19px;
}
.step3__name-input {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: #e3e3e3;
  margin-bottom: 8px;
}
.step3__phone, .step3__passport-num {
  border-radius: 16px;
  background-color: var(--light-color);
  padding: 12px 17px;
  margin-bottom: 30px;
}
.step3__phone p, .step3__passport-num p {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  text-transform: lowercase;
  color: var(--dark-color);
}
.step3__phone p span, .step3__passport-num p span {
  color: var(--blue-color);
}
.step3__passport-num {
  border-radius: 16px;
  background-color: var(--light-color);
  padding: 12px 17px;
}
.step3__passport-num p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #757575;
}
.step3__personal-fio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.step3__personal-fio--input {
  width: 100%;
  border-radius: 16px;
  border: none;
  background-color: var(--light-color);
  padding: 12px 17px;
  margin-bottom: 13px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #757575;
}
.step3__personal-fio-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.step3__personal-fio-block--radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.step3__radio {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #e3e3e3;
}

.step4 {
  background-color: var(--dark-color);
  padding-top: 70px;
  padding-bottom: 184px;
}
.step4__title {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 36px;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 55px;
}
.step4__content {
  border-radius: 22px;
  background-color: var(--blue-color);
  padding: 35px 58px;
}
.step4__price {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: #757575;
}
.step4__price span {
  font-weight: 500;
  color: #393939;
}
.step4__order {
  padding: 21px 47px;
  background-color: var(--light-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 16px;
  margin-bottom: 56px;
}
.step4__order--num {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: #757575;
}
.step4__order--num span {
  font-weight: 500;
  color: #393939;
}
.step4__info-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 300px;
}
.step4__info-block--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.step4__info-block--title {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 19px;
}
.step4__info-block--subtitle {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  margin-bottom: 7px;
}
.step4__info-block--subtitle2 {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: #e3e3e3;
  margin-bottom: 12px;
}
.step4__range--input {
  width: 100%;
}
.step4__range--value {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  text-align: end;
}
.step4__radio {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  color: #fff;
}
.step4__info-block--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.step4__info-block-radio {
  width: 100%;
  margin-bottom: 50px;
}
.step4__payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.step4__payment--text {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  margin-right: 25px;
  color: #fff;
}
.step4__payment--num {
  background-color: var(--light-color);
  padding: 5px 40px;
  text-align: center;
}
.step4__payment--num span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  color: #e34646;
}

/* === range theme and appearance === */
input[type=range] {
  font-size: 1.5rem;
  width: 100%;
}

input[type=range] {
  color: #ef233c;
  --thumb-height: 0.7em;
  --track-height: 0.125em;
  --track-color: rgba(0, 0, 0, 0.2);
  --brightness-hover: 180%;
  --brightness-down: 80%;
  --clip-edges: 0.125em;
}

input[type=range].win10-thumb {
  color: #2b2d42;
  --thumb-height: 1.375em;
  --thumb-width: 0.5em;
  --clip-edges: 0.0125em;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #000;
  }
  html::before {
    background: -o-radial-gradient(center, circle, #101112, #000);
    background: radial-gradient(circle at center, #101112, #000);
  }
  input[type=range] {
    color: #f07167;
    --track-color: rgba(255, 255, 255, 0.1);
  }
  input[type=range].win10-thumb {
    color: #3a86ff;
  }
}
/* === range commons === */
input[type=range] {
  position: relative;
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
}

input[type=range]:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

input[type=range]:disabled {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: 0.3;
  cursor: not-allowed;
}

/* === WebKit specific styles === */
input[type=range],
input[type=range]::-webkit-slider-runnable-track,
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-transition: all ease 100ms;
  transition: all ease 100ms;
  height: var(--thumb-height);
}

input[type=range]::-webkit-slider-runnable-track,
input[type=range]::-webkit-slider-thumb {
  position: relative;
}

input[type=range]::-webkit-slider-thumb {
  --thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
  --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
  --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
  --clip-further: calc(100% + 1px);
  --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
    100vmax currentColor;
  width: var(--thumb-width, var(--thumb-height));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, currentColor)) scroll no-repeat left center/50% calc(var(--track-height) + 1px);
  background: linear-gradient(currentColor 0 0) scroll no-repeat left center/50% calc(var(--track-height) + 1px);
  background-color: currentColor;
  -webkit-box-shadow: var(--box-fill);
  box-shadow: var(--box-fill);
  border-radius: var(--thumb-width, var(--thumb-height));
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
  -webkit-clip-path: polygon(100% -1px, var(--clip-edges) -1px, 0 var(--clip-top), -100vmax var(--clip-top), -100vmax var(--clip-bottom), 0 var(--clip-bottom), var(--clip-edges) 100%, var(--clip-further) var(--clip-further));
  clip-path: polygon(100% -1px, var(--clip-edges) -1px, 0 var(--clip-top), -100vmax var(--clip-top), -100vmax var(--clip-bottom), 0 var(--clip-bottom), var(--clip-edges) 100%, var(--clip-further) var(--clip-further));
}

input[type=range]:hover::-webkit-slider-thumb {
  -webkit-filter: brightness(var(--brightness-hover));
  filter: brightness(var(--brightness-hover));
  cursor: -webkit-grab;
  cursor: grab;
}

input[type=range]:active::-webkit-slider-thumb {
  -webkit-filter: brightness(var(--brightness-down));
  filter: brightness(var(--brightness-down));
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

input[type=range]::-webkit-slider-runnable-track {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, var(--track-color))) scroll no-repeat center/100% calc(var(--track-height) + 1px);
  background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center/100% calc(var(--track-height) + 1px);
}

input[type=range]:disabled::-webkit-slider-thumb {
  cursor: not-allowed;
}

/* === Firefox specific styles === */
input[type=range],
input[type=range]::-moz-range-track,
input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  -moz-transition: all ease 100ms;
  transition: all ease 100ms;
  height: var(--thumb-height);
}

input[type=range]::-moz-range-track,
input[type=range]::-moz-range-thumb,
input[type=range]::-moz-range-progress {
  background: rgba(255, 255, 255, 0);
}

input[type=range]::-moz-range-thumb {
  background: currentColor;
  border: 0;
  width: var(--thumb-width, var(--thumb-height));
  border-radius: var(--thumb-width, var(--thumb-height));
  cursor: grab;
}

input[type=range]:active::-moz-range-thumb {
  cursor: grabbing;
}

input[type=range]::-moz-range-track {
  width: 100%;
  background: var(--track-color);
}

input[type=range]::-moz-range-progress {
  -moz-appearance: none;
  appearance: none;
  background: currentColor;
  transition-delay: 30ms;
}

input[type=range]::-moz-range-track,
input[type=range]::-moz-range-progress {
  height: calc(var(--track-height) + 1px);
  border-radius: var(--track-height);
}

input[type=range]::-moz-range-thumb,
input[type=range]::-moz-range-progress {
  filter: brightness(100%);
}

input[type=range]:hover::-moz-range-thumb,
input[type=range]:hover::-moz-range-progress {
  filter: brightness(var(--brightness-hover));
}

input[type=range]:active::-moz-range-thumb,
input[type=range]:active::-moz-range-progress {
  filter: brightness(var(--brightness-down));
}

.step5 {
  background-color: var(--dark-color);
  padding-top: 70px;
  padding-bottom: 184px;
  position: relative;
}
.step5__cosmos {
  position: absolute;
  width: 350px;
  height: 300px;
  top: -50px;
  right: 50%;
  margin-right: -175px;
}
.step5__title {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 36px;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 55px;
}
.step5__title-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 340px;
  grid-template-columns: 340px;
}
.step5__title-block-h3 {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 37px;
}
.step5__content {
  border-radius: 22px;
  background-color: var(--blue-color);
  padding: 35px 58px;
}
.step5__order {
  padding: 21px 47px;
  background-color: var(--light-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 16px;
  margin-bottom: 56px;
}
.step5__order--text {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  color: #393939;
}
.step5__list-bank {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
}
.step5__list-bank--item1 {
  position: relative;
  border-radius: 22px;
  border: 1px solid var(--light-color);
  padding: 17px 30px 82px;
}
.step5__list-bank--item1-title {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 24px;
}
.step5__param--block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 12px;
}
.step5__param--name {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #e3e3e3;
}
.step5__param--price {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}
.step5__btn {
  position: absolute;
  min-width: 35%;
  left: 50%;
  bottom: -7%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.step5__list-bank--item2 {
  border-radius: 22px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.23);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  color: #d6d6d6;
}

.order {
  background-color: #f5f4f4;
}
.order__container {
  padding: 93px 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.order__title {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 32px;
  text-transform: uppercase;
  color: #393939;
  text-align: center;
  margin-bottom: 43px;
}
.order__title span {
  color: var(--accent-color);
}
.order__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 22px;
  background-color: var(--blue-color);
  padding: 28px 67px;
}
.order__subtitle {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 41px;
  text-align: center;
}

.ps {
  background-color: var(--dark-color);
}
.ps__container {
  padding-bottom: 127px;
}
.ps__title {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  color: #fff;
  margin-bottom: 21px;
}
.ps__blocks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.ps__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.ps__item--1 {
  padding: 44px 47px;
  border-radius: 22px;
  background-color: var(--blue-color);
}
.ps__item--big-text {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
}
.ps__item--2 {
  padding: 44px 47px;
  border-radius: 22px;
  border: 1px solid #b5b5b5;
}
.ps__item--3 {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}
.ps__item--3 .btn-red {
  margin-right: 22px;
}
.ps__item--4 {
  position: relative;
  padding-left: 70px;
}
.ps__item--4::before {
  content: "";
  position: absolute;
  width: 73px;
  height: 73px;
  background-image: url("../img/arrow.svg");
  background-position: center center;
  background-repeat: no-repeat;
  left: 0;
}
.ps__litle-text {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: #e3e3e3;
}

.footer {
  background-color: var(--dark-color);
}
.footer__container {
  padding-top: 100px;
  padding-bottom: 43px;
}
.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 50px;
}
.footer__phone {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: #fefefe;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__social a:not(:last-child) {
  margin-right: 10px;
}
.footer__copyright {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 580%;
  text-align: center;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */